[2019-11-30 00:31] edalzell opened #4 "FR: Ability to download single event as .ics file (iCal)"
**[Original report](https://bitbucket.org/trnsfm/statamic-plugin-events/issue/4) by Erin Dalzell (Bitbucket: [edalzell](https://bitbucket.org/edalzell), GitHub: [edalzell](https://github.com/edalzell)).**

----------------------------------------

[2019-11-30 17:17] edalzell opened #5 "Calendar pagination skips over every other month starting on Feb 2020"
**[Original report](https://bitbucket.org/trnsfm/statamic-plugin-events/issue/5) by Adnan Kussair (Bitbucket: [adnankussair](https://bitbucket.org/adnankussair), GitHub: [adnankussair](https://github.com/adnankussair)).**

----------------------------------------

@{557058:3d3a775f-aaa3-44e4-af2d-ddd9f7f74e22} The calendar seems to pagination over February and jumps to March. If you click on March

[2019-12-10 22:13] edalzell opened #6 "Checklist for release"
- [x] Finalize name \(My vote “Events”\)
- [x] Create icon
- [ ] Review docs
- [ ] Create landing page \(I have addon pages on my new site if we want to start there\)
- [x] Finalize price \(my vote $49\)
- [x] move repo to GH
- [x] screenshots for the marketplace.
- [x] create `DOCUMENTATION.md`
- [x] create README
- [ ] write up on why/how used on client site

‌

[2019-12-14 20:27] edalzell commented on #6
Transferred repo issues with: https://github.com/jeffwidman/bitbucket-issue-migration

[2019-12-14 21:19] edalzell commented on #6
Launched, moving remaining tasks to individual issues.

[2019-12-14 21:19] #6 closed

[2019-12-14 21:21] edalzell opened #7 "FR: Port to v3"

[2019-12-24 21:48] edalzell commented on #14
this is a template issue, likely. Although we should consider the event creation portion for events like that as adding each day individually will be awkward.

[2019-12-27 17:18] edalzell commented on #14
@adnankussair this is interesting as a "multi-day" event is meant to be consecutive days, but this event they have is actually a recurring event, every 2 weeks (which we don't support).

How would you want to display this? And should we attempt to add support for `every_x` recurrence?

[2019-12-31 19:46] adnankussair commented on #5
Issue is occurring again in production. See here: https://zaytuna.edu/events?year=2020&month=January

Notice February is missing and month pagination skips to March.

[2019-12-31 19:49] adnankussair commented on #14
@edalzell I see. I guess we need to support a single event spanning across multiple months and also add support for every_x recurrence as well.

[2019-12-31 20:00] adnankussair commented on #5
@edalzell So it looks like the calendar is skipping over every other month starting February 2020.

Notice the following are missing:
- February 2020
- April 2020
- June 2020
etc.

[2019-12-31 21:26] edalzell commented on #5
@adnankussair Not an Event issue. Site helper tag in Simple was wrong. Fixed in Simple repo.

[2019-12-31 21:26] #5 closed

[2019-12-31 22:16] edalzell commented on #14
why both @adnankussair ? What's different about them?

[2020-01-03 16:18] adnankussair commented on #14
The first issue (more of a templating one which will fix the current issue seen on Zaytuna site) is that when a multi-day event spans across multiple days from one month to another let's say from January 31st to February 2nd. The event listing in collection 5 and 6 should display like so:

![Screen Shot 2020-01-03 at 8 07 24 AM](https://user-images.githubusercontent.com/239259/71734158-1b3bc100-2e

[2020-01-10 05:51] sebszocinski opened #20 "Multiday events which started in the past don't appear in list using in tag"
If you have an event that has multi-days and the first date was in the past, the remaining dates (in the future) don't show. This was only tested using the `in` tag .

[2020-01-10 18:16] edalzell commented on #20
@sebszocinski can you show me the data please?

[2020-01-10 19:13] edalzell commented on #20
and show me the template code you are using

[2020-01-14 18:56] edalzell commented on #21
Note to self, it may be worthwhile to move that helper into the core so that every one can "just use it"

[2020-01-14 22:56] edalzell commented on #22
What do you mean @KevinGrant12, can you give me an example of how you’d like to use it?

[2020-01-15 00:03] KevinGrant12 commented on #22
It would be awesome to be able to switch months without refreshing the page ( I.e. decouple the filtering from the url ). This way, if your calendar is further down the page, or you have other functionality tied to data ( views, modals ), the users current view will not be disrupted when viewing events.

[2020-01-15 00:16] edalzell commented on #22
would an api work @KevinGrant12? For example, something like this `/!/Events/calendar?year=2020&month=february`?

[2020-01-15 15:37] KevinGrant12 commented on #22
Yes, I think that would do the trick!

[2020-01-15 18:25] edalzell opened #23 "1 hr - Refactor: move site helper into code"
Rework how to generate the calendar months. Start by bringing the site helper into the core.

[2020-01-31 20:14] edalzell commented on #25
https://github.com/transformstudios/statamic-events/commit/22fdb40a4b1484b11099dbf8565f3e31a987bc0d

[2020-01-31 20:15] edalzell commented on #19
@sebszocinski I think this is fixed, can you confirm?

[2020-01-31 20:18] adnankussair commented on #22
@KevinGrant12 We'll be starting on this feature request next week. :)

[2020-02-04 20:51] edalzell commented on #4
https://github.com/transformstudios/statamic-events/commit/868440bc83d6cefe5895e8378e91381949e1eb40

[2020-02-04 20:51] #4 closed

[2020-02-04 20:51] edalzell commented on #4
@adnankussair I'm going to update Simple with this so you can see it, but we will likely want to visit the styling/organization. I'll walk you through it on our weekly meeting.

[2020-02-04 20:55] adnankussair commented on #4
sounds great. Thanks Erin!

[2020-02-04 21:07] edalzell commented on #20
Haven't heard back in a while, closing. Please re-open if you get this again.

[2020-02-04 21:08] edalzell commented on #11
Not worth it right now.

[2020-02-04 21:14] edalzell opened #3 "FR: Support recurring events in download links"
Need to [PR](https://github.com/spatie/calendar-links/issues/45) library.

[2020-02-10 04:02] sebszocinski commented on #19
Yep you fixed it [here](https://github.com/transformstudios/statamic-events/commit/29a73ba084157bc337bde09e61e47fb885282ab3)

[2020-02-15 02:32] edalzell commented on #32
@lachieh 1.5 hours, hopefully less.

[2020-02-15 02:35] edalzell commented on #33
@lachieh 3 hrs

[2020-02-15 02:37] edalzell commented on #29
@lachieh 1.5 hours

[2020-02-19 17:45] lachieh commented on #32
Turns out we're not going to need this one. We can get the same functionality by adding an event to a taxonomy which is covered by #29.

[2020-02-24 18:50] edalzell commented on #29
@lachieh can you grab this version and see how it works for you?

[2020-02-24 22:57] edalzell commented on #33
@lachieh can you also grab the latest and see if the exclusions work for you?

[2020-03-02 21:55] sebszocinski commented on #27
This issue still occurs when using `{events:calendar}` or `{events:in}` loops and trying to access the `end_time`. It looks like `end_time` is being set in Events.php [here](https://github.com/transformstudios/statamic-events/blob/master/Events/Events.php#L39) and [here](https://github.com/transformstudios/statamic-events/blob/master/Events/Events.php#L62).

[2020-03-11 03:28] edalzell commented on #17
done

[2020-03-22 00:19] edalzell commented on #23
done in 1.4

[2020-03-22 00:19] #23 closed

[2020-03-22 00:19] edalzell commented on #21
done in 1.4

[2020-03-22 00:20] edalzell commented on #24
done in 1.4

[2020-03-31 07:58] Slowwie commented on #7
Is this comming in the near future? Or will it take a while?
I thing about to write my next website with Statamic v3.

But when this feature is not working - I will stick to v2.

[2020-03-31 15:45] edalzell commented on #7
It depends on your definitions of "near future"...Statamic v3 is not out yet.

But yes, I do plan to port it to v3.

[2020-03-31 15:58] Slowwie commented on #7
The near future would be in the "next 2-3 month". Then I will start with the project.
Its a christian community. The website will not very complex. So I can use v2 also.

[2020-04-01 17:38] edalzell opened #2 "FR: Add CP interface"
a la Solspace Calendar: https://docs.solspace.com/craft/calendar/v2/overview/events.html#month-week-day-views

[2020-04-01 17:38] edalzell opened #37 "FR: Add CP interface"
a la Solspace Calendar: https://docs.solspace.com/craft/calendar/v2/overview/events.html#month-week-day-views

[2020-07-24 22:17] beckysoll opened #39 "Link to sample fieldset in docs not working."
it currently links to "https://statamic.com/event.yaml", i assume it should link to https://github.com/transformstudios/statamic-events/blob/master/event.yaml

[2020-07-24 23:28] adnankussair commented on #39
Thanks @beckysoll we'll update the documentation.md to use absolute links so they show up correctly in the statamic  marketplace docs. Have a good one!

[2020-07-25 00:40] adnankussair commented on #39
Confirmed as fixed in Statamic Marketplace with release of 1.5.1

[2020-07-25 00:40] #39 closed

[2020-08-31 15:53] DavidStrada commented on #40
Hey there, wanted to check if you guys have an ETA on this bug, when it's going to be address or if it's going to be address at all ? thanks 👍

[2020-08-31 16:15] adnankussair commented on #40
Hey David. We plan to look at this on Wednesday of this week. Thanks!

--
Adnan Kussair (AK)

Transform Studios | Strategy. Design. Code.

--- original message ---
On August 31, 2020, 8:53 AM PDT notifications@github.com wrote:

Hey there, wanted to check if you guys have an ETA on this bug, when it's going to be address or if it's going to be address at all ? thanks 👍

—

You are receiving this b

[2020-09-02 23:52] adnankussair commented on #40
@DavidStrada Just a heads up that we'll be taking a crack at getting this reported bug resolved for you by tomorrow morning. Today got the best of us. :)

[2020-09-03 02:00] edalzell commented on #40
@DavidStrada that's not the correct syntax. You filter the same way you would with the collection tag, `taxonomy:event_categories="featured"`

[2020-09-03 02:00] edalzell commented on #40
@DavidStrada which version of Events? The latest is 1.5.1.

[2020-09-03 13:01] DavidStrada commented on #40
`version: "1.4"`

[2020-09-03 14:15] DavidStrada commented on #40
I've tested this on the latest and I'm still having this issue, I've created a video maybe this will give you a better understanding of what the issue is, https://www.dropbox.com/s/wbbcsha36ecuk3d/events-calendar.mov?dl=0

[2020-09-03 15:09] edalzell commented on #40
@DavidStrada let's see your template code please.

[2020-09-03 15:37] DavidStrada commented on #40
@edalzell here you go : https://gist.github.com/DavidStrada/6c72f8544e00a965a12a5b7658477454

[2020-09-03 15:39] DavidStrada commented on #40
btw: tested your syntax `{{ events:upcoming collection="events" limit="6" :taxonomy:event_categories="featured" }}` didn't work either, same result (video).

[2020-09-03 15:43] edalzell commented on #40
You've got a colon in there, should be `taxonomy:event_categories="featured"` NOT `:taxonomy:event_categories="featured"`

[2020-09-03 15:50] DavidStrada commented on #40
removed the colon and the problem still persist, `if` I add an extra `A` it pulls data otherwise it doesn't so not really sure what's causing that.

[2020-09-03 15:52] edalzell commented on #40
If you make the limit bigger does it work? like `50` or something?

[2020-09-03 15:56] DavidStrada commented on #40
it does work, however besides the point of `50`, if the event is on `September` and others on `October` it should pull e.g.
1 from Sept.
5 from Oct.
----
shouldn't it ?

[2020-09-03 15:59] DavidStrada commented on #40
btw: `{{ events:upcoming collection="events" limit="50" :taxonomy="event_categories" }}` this works as well if I do the `50` so syntax wise I guess there isn't an issue here per say.

[2020-09-03 16:25] DavidStrada commented on #40
Yeah, I went with the option of adding an extra `A` so it solves the problem for now, no worries, it's a tricky bug so thanks for having a look at it, and let me know if I can be more helpful 👍

[2020-09-03 21:17] edalzell commented on #40
True issue here is that we are `limit`ing **all** the dates, NOT the ones that are in the future, on the `upcoming` tag.

Need to update to filter first, then limit.

@adnankussair we should schedule this into the rotation

[2020-09-09 14:43] DavidStrada commented on #40
Hey Guys, wondering if you made any progress on this,

Thanks

[2020-09-09 15:36] adnankussair commented on #40
@DavidStrada We have this scheduled to get worked on this week. We'll let you know the moment its resolved. Thanks for your patience!

[2020-09-09 20:53] edalzell commented on #40
I can't reproduce this @DavidStrada, are you able to send me your site privately so I can take a look?

Either via DM on Discord or erin@transformstudios.com.

[2020-09-16 00:34] DavidStrada commented on #40
Hey Guys, just wondering if you made any progress on this, or if you need further information.
Thanks

[2020-09-16 00:36] edalzell commented on #40
I'll be taking a look at this tomorrow. I got your site.

[2020-09-16 21:18] edalzell commented on #40
Fixed in 1.5.2.

[2020-11-02 02:18] sebszocinski commented on #20
Bringing this up as we've come across it again. It seems if you have a multi-day event and a day in the past and a day today it doesn't show up using the `in` tag.

[code]

See here in the CMS:

![image](https://user-images.githubusercontent.com/5466694/97823682-9fedb900-1d09-11eb-95c2-e6ebe4d67919.png)

This test should show an event for today (2nd Nov) but it doesn't.

Let me know if you need an

[2020-11-02 15:58] DavidStrada opened #41 "unsetting `limit` breaks pagination."
I've found that the changed introduced in the latest version
[code]
breaks pagination, so items can not longer be paginated.

Introduced here https://github.com/transformstudios/statamic-events/commit/49eda05ec8bb97a5590f0c5fc2010608c064af78#diff-6ae417af955106d4e74b910848b98a4d0bdc8d12f1e013ca161541ada97faca4R181-R189

[2020-11-05 20:17] adnankussair opened #42 "FR: Add event to my calendar feature"
User selects "Add to calendar" from event detail page. Form pops up asking their email, once submitted they get added to a mailing list and as their confirmation they get an email with the link to the event and an ical attached of the event to add to their calendar.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversation

[2020-11-05 20:19] adnankussair commented on #42
@edalzell New feature request from client, just want to get an idea of time on this one. We can discuss if necessary for more context. This could be part of the ical subscribe feature from the calendar page which allows users to subscribe to all events.

[2020-11-06 17:39] edalzell commented on #20
@sebszocinski this bug is actually if the start time of the event today is in the past.

Would you expect an event that has already started, but not yet finished to show up here?

[2020-11-06 18:12] edalzell commented on #20
Issue is that the start time of the event was midnight. If you make it 1 min after midnight this issues doesn't happen.

Fixing.

[2020-11-06 18:14] #20 closed

[2020-11-06 18:14] edalzell commented on #41
fixed in 1.5.3

[2020-11-06 18:14] #41 closed

[2020-12-14 01:28] sebszocinski opened #43 "Can't show events for today only"
Using the `{{ events:in }}` with something like `next="1 day"` seems to show more than just todays events.

Examples tested:
`next="0 day"` = Loops Yesterday and Today (2 days)
`next="today"` = Loops Yesterday and Today (2 days)
`next="1 day"` = Loops Yesterday, Today and Tomorrow (3 days)
`next="1 days"` = Loops Yesterday, Today and Tomorrow (3 days)

Using latest version

[2021-02-16 16:24] 1stevengrant commented on #7
hey folks - is there an ETA for the v3 port? Have a project that has a custom addon and would rather not rewrite the logic if it can be avoided.

[2021-02-16 16:48] adnankussair commented on #7
Hello all. Just chatting about this. We'll get it ported and released this month. Thanks for your patience and support on this plugin!

[2021-02-16 16:49] 1stevengrant commented on #7
thanks @adnankussair

[2021-02-16 17:25] #42 closed

[2021-02-25 16:17] edalzell opened #1 "FR: Refactor"
- [x] review pulling in existing package like https://github.com/rlanvin/php-rrule, https://github.com/simshaun/recurr, https://github.com/tplaner/When to use their calculation
- [x] add tests for the tags
- [x] refactor to simplify, if possible. New flow: generate next limit+1 occurrences,. then use `filter` to remove based on parameters (between, until, next 2 days, etc
- [x] the loadDates is go

[2021-02-25 16:17] edalzell opened #44 "FR: Refactor"
- [ ] review pulling in existing package like https://github.com/rlanvin/php-rrule, https://github.com/simshaun/recurr, https://github.com/tplaner/When to use their calculation
- [ ] add tests for the tags
- [ ] refactor to simplify, if possible. New flow: generate next limit+1 occurrences,. then use `filter` to remove based on parameters (between, until, next 2 days, etc

[2021-02-25 20:18] edalzell commented on #7
@1stevengrant just released on the Marketplace: https://statamic.com/addons/transform/events

[2021-02-25 20:18] #7 closed

[2021-02-25 20:26] edalzell commented on #43
Added in 1.5.4

[2021-02-25 20:40] 1stevengrant commented on #7
My hero 🚀

On Thu, 25 Feb 2021 at 20:18, Erin Dalzell <notifications@github.com> wrote:

--
Sent from mobile

[2021-02-25 21:39] #43 closed

[2021-03-08 11:55] 1stevengrant opened #8 "Addon settings for v3"
Hey folks,
A couple of questions now that I'm integrating this into our project this week.

The docs make mention of addon settings but not sure where these would exist in v3.

Wondering also, if that's what's causing the illegal offset type in this snippet

[code]

[2021-03-08 12:43] 1stevengrant commented on #8
spotted the `config/events.php` in the package. Copied that into my `config` directory and updated the collection to be used and error is the same.

[2021-03-08 14:51] edalzell commented on #8
Can you post the top few lines if the error?

[2021-03-08 15:37] 1stevengrant commented on #8
![](https://d.pr/i/SG1LwG+)

[2021-03-08 16:16] edalzell commented on #8
and which 'offset' is off? `period`? `recurrence`?

[2021-03-08 16:30] 1stevengrant commented on #8
oh yeah, `type`

[2021-03-08 16:34] edalzell commented on #8
Can I see the actual error please.

[2021-03-08 16:42] 1stevengrant commented on #8
this is the entirety of it, or am I misunderstanding what you're asking?

![](https://d.pr/i/da1QCQ+)

[2021-03-08 17:44] edalzell commented on #8
Can I please see your blueprint for this collection and a sample entry?

[2021-03-08 17:50] 1stevengrant commented on #8
fieldset:

[code]

test entry

[code]

[2021-03-13 12:56] edalzell commented on #8
I’ll look at this next week

[2021-04-14 22:17] edalzell commented on #8
Sorry @1stevengrant is this still an issue? Just saw this was on the old v2 version, so it slipped by me, sorry.

[2021-04-14 22:18] edalzell commented on #3
Note to self, can likely use https://github.com/spatie/icalendar-generator.

[2021-04-14 23:00] 1stevengrant commented on #8
I believe so, yeah. Haven't checked for a couple of weeks though.

New Statamic version could have resolved the issue?

[2021-04-14 23:22] edalzell commented on #8
what versions of Events and Statamic?

[2021-04-28 16:16] adnankussair opened #9 "Clarify docs regarding setting collection in add-on settings"
Trying to use the Statamic EVENTS template.

https://statamic.com/addons/transform/events

In the docs, it says: "In the addon settings, pick the collection that has your Events."

The docs don't describe where these addon settings are. Can you elaborate? (And maybe update the docs as to what file we need to edit?)

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16"

[2021-04-28 16:22] adnankussair commented on #9
Let's add clarity by specifying the exact location of the addon settings where we set the collection, basically `site/settings/events.yaml`

[2021-04-29 15:02] edalzell commented on #9
Done

[2021-04-29 15:05] #9 closed, assigned to edalzell

[2021-05-04 21:53] edalzell commented on #4
Could also create a fieldset and publish that

[2021-05-05 21:07] adnankussair opened #10 "FR: Add Full Calendar Standard Support"
Add ability to use the FullCalendar bundle to have an instant working calendar out of the box.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_3nb2n)

[2021-06-01 12:04] duncanmcclean opened #11 "Recurrence options: every fortnight, every three weeks, last day of the month, etc?"
We're currently in the process of migrating a site from Statamic v2 which used a custom events addon to Statamic v3 with this addon.

I'm currently writing a migration script so we can transform the current event data (like start date, recurring information, etc) to the format this addon is expecting.

However, when writing code to migrate recurring events, I noticed there aren't the same options

[2021-06-01 12:07] duncanmcclean commented on #11
Me dumb dumb. There's an 'Every' option

[2021-06-01 12:07] #11 closed, assigned to nobody

[2021-06-07 00:28] adnankussair commented on #4
@edalzell Okay to close?

[2021-06-07 01:27] edalzell commented on #4
Not yet, no.

[2021-08-12 21:52] adnankussair opened #12 "Recurring Events Collapse Inquiry"
My support request is regarding: CMS (Content Management System)
Domain which you need assistant with (if applicable): cypressclub.ca

Tell us what is going wrong: I have a question about your STATAMIC EVENTS addon.

I am listing events on a web page, and certain events are, like, month-long events (like. say, July is Half Price Pasta month... or something like that).

When I add the event as a re

[2021-08-13 23:23] edalzell commented on #12
they should use multi-day events. If they want that feature (and gcal integration), they can open an FR.

[2021-08-13 23:23] #12 closed, assigned to edalzell

[2021-09-17 02:25] austriker27 opened #13 "Getting error: Modifier [events.is_start_of_week] not found"
Hey all,

This looks like a great package! I'm either doing something wrong or I found a bug. I'm getting an error when I try to drop in the [calendar](https://github.com/transformstudios/statamic-events/blob/main/calendar.html) example.

## Error
`Modifier [events.is_start_of_week] not found`

## Steps to reproduce:

1. Install package (I'm on `"transformstudios/events": "^2.2"`)
2.  Publish the

[2021-09-17 02:25] austriker27 opened #46 "Getting error: Modifier [events.is_start_of_week] not found"
Hey all,

This looks like a great package! I'm either doing something wrong or I found a bug. I'm getting an error when I try to drop in the [calendar](https://github.com/transformstudios/statamic-events/blob/main/calendar.html) example.

## Error
`Modifier [events.is_start_of_week] not found`

## Steps to reproduce:

1. Install package (I'm on `"transformstudios/events": "^2.2"`)
2.  Publish the

[2021-09-17 02:35] adnankussair commented on #13
Hey @austriker27 we'll take a look at this in the morning PST and let you know what we find. Thanks!

[2021-09-17 02:36] austriker27 commented on #13
No worries, no rush! (Im also PST) Its entirely possible I missed something

[2021-09-17 03:23] edalzell commented on #13
@austriker27 to confirm this is a V2 site?

[2021-09-17 03:26] austriker27 commented on #13
V3! Oh gosh did I comment on the wrong repo!? 🤦🏻‍♂️ I was looking at this package which says its V3: https://statamic.com/addons/transform/events

[2021-09-17 03:26] austriker27 commented on #13
Arghhhh somehow I got the wrong repo! OOps! https://github.com/transformstudios/statamic-events-v3

[2021-09-17 03:28] austriker27 commented on #13
I figured out how I got the wrong repo:

It looks like `calendar` [on this page of the v3 docs](https://statamic.com/addons/transform/events/docs#templating) is linked to this V2 repo.

[2021-09-17 03:55] edalzell commented on #13
@austriker27 docs are wrong, use the modifier without the events part, just is_start_of_week

[2021-09-17 12:20] austriker27 commented on #13
Oh okay! Thanks!

[2021-09-17 12:25] austriker27 commented on #13
Its working now after I drop the modifiers!

Random follow up - do you happen to the CSS for the calendar example laying around somewhere? Or was it written in bootstrap? It would save me some time and I dont see it linked anywhere - id like to tailwind-ify it.

EDIT: Never mind, I did some sleuthing and found your [live](https://zaytuna.edu/events) example which has helped me a lot to get an idea

[2021-09-17 21:11] austriker27 opened #14 "Getting error when I use download link feature"
Hello again,

I'm trying to use the download link feature but getting an error. I copied pasted from the docs but am using `start_date` because its the date on my events collection schema.

## Error
[code]

## My HTML:
[code]

## Example event:
[code]

## Directions screenshot:
![image](https://user-images.githubusercontent.com/14855925/133854157-2f3d8c45-975f-49dc-9a9d-b1834a6f3653.png)
https://s

[2021-09-17 23:06] edalzell commented on #13
Fixed the docs, thanks @austriker27

[2021-09-17 23:06] #13 closed, assigned to edalzell

[2021-09-17 23:35] edalzell commented on #14
Fixed in 2.2.2 @austriker27 give it a try.

[2021-09-17 23:35] #14 closed, assigned to nobody

[2021-09-19 19:23] austriker27 commented on #14
Nice that's fixed that bug!

In my testing, Google and Outlook are working pretty well. But for the Apple/ICS event, it downloads a file that's missing a title (`.ics`) which means its not readily recognized as a calendar event.

Also I have follow up questions now that the event download is working.

Follow up 2: Is it possible at this point to change that field populates the event file? Right no

[2021-09-19 19:29] edalzell commented on #14
New issue, please submit.

[2021-09-19 19:29] edalzell commented on #14
That's an FR, please submit

[2021-09-19 19:29] edalzell commented on #14
Yet another FR

[2021-09-19 21:14] austriker27 opened #15 "Download calendar file: ICS filename missing"
In my testing with version 2.2.2, the calendar download link generates a file that is just `.ics` which is missing the filename - this prevents a computer from recognizing the file as a calendar file.

Here's my sample file I generated (In a zip file)
[ics.zip](https://github.com/transformstudios/statamic-events-v3/files/7192927/ics.zip)

[2021-09-19 21:17] austriker27 opened #16 "FR: Improve the Calendar Event File Download"
It would be great to be able to edit the calendar event that's generated by the download feature and map it to our own fields.

For example, my event's title is "Fall Market" but I'd prefer to add in my company name so its "Vandelay's Fall Market".

Also in addition to editing the event title I'd love to map to my own fields - for uses like setting an address on the calendar event.

[2021-09-19 21:18] austriker27 commented on #16
Maybe this is 2 FRs - I can split it (edit title, add custom fields) if desired

[2021-12-08 21:12] enxoco opened #17 "{{ events:between }} tag"
We are in the process of migrating a client site from Statamic v2 to v3.  We are using the events tag on this page in order to allow users to view/filter events based on dates, category, etc.

https://www.palmettodunes.com/calendar?from=2021-12-07&to=2021-12-15&q=&cat%5B0%5D=dining&page=1

Our template file looks something like this
[code]

I did a little digging and found the between function in

[2021-12-08 21:23] adnankussair commented on #17
Hey Mike. We're looking into this and will get back to you shortly. Stay tuned.

[2021-12-08 21:25] enxoco commented on #17
@adnankussair Thanks.  This is what I have in ```EventsTags.php``` of the old version.
[code]

[2021-12-10 18:33] edalzell commented on #17
Hey there @enxoco, thanks for pointing this out.

We'll get this added this month.

[2022-01-03 14:36] enxoco commented on #17
@edalzell Hope you had a great holiday and maybe some time off!  Any updates on this issue?

[2022-01-03 20:49] edalzell commented on #17
Looking at it now, planning to release a fix this week.

[2022-01-04 00:08] edalzell commented on #17
Released in v3.2

[2022-01-04 00:08] #17 closed, assigned to edalzell

[2022-01-05 16:09] enxoco opened #18 "Between tag missing pagination"
The between tag seems to be working as expected now except for the fact that it seems to be missing pagination.

[2022-01-06 18:16] enxoco commented on #18
@edalzell Currently doing this to get my pagination work.  Probably a little hacky but working for me at the moment.  I just had to modified my template slightly.

[code]

[2022-01-10 15:58] enxoco commented on #18
@edalzell Any updates on this?

[2022-01-10 20:17] edalzell commented on #18
@enxoco question for you. Both `in` and `between` return "grouped" (by day) results. How would you want to paginate those? Like if you say `limit=3` and there are 2 days of events, but the first day has 5 events, what would you want?

[2022-01-10 20:59] enxoco commented on #18
@edalzell Good question.  I think for our current use case I would just want the events in order by date.  So if there are 2 days of events so for example:

Page 1
day 1 - event 1
day 1 - event 2
day 1 - event 3
---- Page 2
day 1 - event 4
day 1 - event 5
day 2 - event 1

[2022-01-10 21:07] edalzell commented on #18
Right @enxoco but what would the tag look like that would produce that? What would `limit` be?

[2022-01-11 13:39] enxoco commented on #18
@edalzell It looks like this
[code]

[2022-01-11 15:01] edalzell commented on #18
Right, but like I said, what does that "5" mean? 5 days? 5 events? What if there are 2 events on 1 day and 6 on a second day? How would that paginate?

I "think" pagination only works when the events aren't grouped by day, like the `upcoming` tag.

[2022-01-11 15:03] enxoco commented on #18
@edalzell This is how the old version of the plugin works for reference.  This is what we need the new version to do.

https://www.palmettodunes.com/calendar?from=2022-01-11&to=2022-01-18&q=&cat%5B%5D=pickleball&cat%5B%5D=golf&cat%5B%5D=tennis

[2022-01-11 15:07] edalzell commented on #18
Right that's not grouped by date.

Thinking more, I don't think it should group by date at all, except in the case of the calendar tag.

[2022-01-11 15:08] enxoco commented on #18
@edalzell I really just need the new version of the between tag to work like it does in the older version of the plugin as seen on the page referenced above.

[2022-01-11 20:03] enxoco commented on #18
@edalzell I guess my other question then is, is there a better way to do what I am trying to do with the new plugin?  Just need to give the user the ability to search for events by date and category and display the results with pagination.

[2022-01-11 21:43] edalzell commented on #18
Released in 3.3 @enxoco

[2022-01-11 21:43] #18 closed, assigned to edalzell

[2022-01-12 19:23] enxoco commented on #18
@edalzell I must be missing something here.  I just created a fresh install of Statamic, installed the latest version of the plugin and copied over my events.  This is what I get when using your example code from the docs.
[code]
![image](https://user-images.githubusercontent.com/34722899/149207406-3d630a3a-e62a-48da-ad9f-4f571a73b46c.png)

As you can see, it appears that limit="2" only returns 2

[2022-01-13 14:47] enxoco opened #19 "Between tag still not working correctly"
I just created a fresh install of Statamic with version 3.3 of the addon.  I have copied over my events collection and created a blank page.  Using the tag from your docs:
[code]
The code above produces the following output:
![image](https://user-images.githubusercontent.com/34722899/149351652-96be028a-2ce7-42e6-b0df-d9b4c7426809.png)

This is the correct way that the tag should function, however

[2022-01-13 21:12] edalzell commented on #19
The total results should be in the main group of data, not the paginate

[2022-01-28 18:07] edalzell opened #21 "Review pagination"
There's now two pagination methods, one for events and one for between tag. Unify and test.

[2022-01-28 18:09] edalzell commented on #19
merged your PR and released in 3.3.2, thanks!

[2022-01-28 18:09] #19 closed, assigned to nobody

[2022-01-31 22:54] mikemartin opened #22 "Events upcoming tag not working as expected for recurring dates"
I must have configured something incorrectly because the events tag does not return any events at the moment. See my use case here:
https://github.com/mikemartin/events-test/blob/main/resources/views/events/index.antlers.html

[2022-02-09 04:19] edalzell commented on #1
Brain dump:

- get the events, use query so we don't override the collection tag
- ~~Event inherits from `Recurr\Rule`~~
- pass in event entry data to each rule, so we can get the data back out later
- single day events can be `RRule` with count of 1
- recurring events are standard `RRule`
- multi-day events can return `RSet`
- loop through each event entry, converting it to either an RRule or an

[2022-02-21 17:12] jeverington opened #24 "Week Start on Monday?"
How can i set the weeks returned to start on a Monday instead of a Sunday?

[2022-03-01 11:09] grischaerbe commented on #22
I'm currently running into this as well. I'm not using the frontend part of this package but the issue might be related.
I'm using this package to write GraphQL Queries and fields for it. I can make a PR for that if you want me to.

Let's say there's an event set up like this (I'm using your provided field set):

[code]

I'm adding a field in GraphQL to return all dates in a certain range:

[code]

[2022-03-02 19:15] edalzell commented on #8
Can't reproduce, please re-open if this is still occurring.

[2022-03-02 19:15] #8 closed, assigned to edalzell

[2022-03-02 19:30] edalzell commented on #15
@austriker27 this is returning a base64 `data:text/calendar` string. To set the name of the download, use the `download` attribute, like this:

[code]

I'll add that to the docs, thanks!

[2022-03-02 19:30] #15 closed, assigned to edalzell

[2022-03-02 22:14] edalzell commented on #22
@grischaerbe I can't reproduce this, see this code:

<img width="1457" alt="CleanShot 2022-03-02 at 14 13 11@2x" src="https://user-images.githubusercontent.com/6069653/156458535-5193ca26-873e-488e-af58-43e31ca99e46.png">

[2022-03-02 22:16] edalzell commented on #22
@mikemartin that repo doesn't include the events addon, is this still occurring for you?

[2022-03-02 22:17] edalzell commented on #24
What's your use case @jeverington ?

[2022-03-03 10:21] hgrimelid commented on #24
In many parts of the world (for example most of Europe) the week starts on a Monday and ends on a Sunday. It would be great if this could be set in the config.

I've identified hard coded values for start/end of week in:
- `src/Tags/Events.php`
- `src/Http/Controllers/CalendarController.php`
- `src/Modifiers/IsEndOfWeek.php`
- `src/Modifiers/IsStartOfWeek.php`

[2022-03-03 15:17] jeverington commented on #24
@edalzell I think @hgrimelid sums it up well!

[2022-03-08 14:52] austriker27 commented on #15
Oh okay, thank you!

[2022-03-09 18:19] edalzell commented on #24
This may be a large breaking change, as the date generation code is a bit ugly.

In my upcoming refactor, this will not be an issue.

@jeverington @hgrimelid what issues does this cause for you?

[2022-03-16 14:41] spetz83 opened #25 "Error When trying to create entry with events-fieldset"
Statamic Version: 3.2.38
Events Version: 3.3.3

I have a fresh Statamic install. I installed the events addon and published the config and fieldset.
I have a collection called Events. I added the published fieldset to the Events blueprint.
When I attempt to create a new entry in the events collection, I get the following error:

![image](https://user-images.githubusercontent.com/291664/158615611-6

[2022-03-16 22:00] hgrimelid commented on #24
I think the calendar view is what's the main problem with today's version. That said, I've just started building the site which is supposed to use this addo, so there might be other issues that I've not yet stumbled upon.

[2022-03-16 22:03] adnankussair commented on #24
Hey @hgrimelid! What's the timeline on this site build? I think the refactor is where I'd like us to spend the time vs. trying to make the current version work for "start on Monday."

[2022-03-17 02:47] sebszocinski opened #26 "Laravel 9 support?"
Upgrading a site to Statamic 3.3 and Laravel from 8 to 9 but being blocked by the Events addon.

[2022-03-17 02:50] adnankussair commented on #26
@sebszocinski we're in the middle of a big refactor of the add on. It'll be laravel 9 compatible afterwards. Stay tuned.

[2022-03-18 13:01] hgrimelid commented on #24
We've not yet decided whether we need the calendar view, so it's probably the best option that you prioritize according to your preferences.

[2022-03-18 13:03] adnankussair commented on #24
Will do. Thanks @hgrimelid

[2022-03-21 18:22] edalzell commented on #25
Let's see the blueprint please

[2022-03-21 18:24] edalzell commented on #25
It's this bug @spetz83 : https://github.com/statamic/cms/issues/4669, remove that data and it'll all work.

[2022-03-21 18:24] #25 closed, assigned to edalzell

[2022-03-24 02:25] davidatkinswwt opened #27 "Recurring Event Download Support"
I have a multi-day event with the following:

[code]

When downloading the event for Sat, April 16th 4:00pm - 5:15pm I receive a .ics file with a date and time
Sat, April 16th 4:00pm - Sun, April 17th 1:15pm

Any chance we'll see support recurring event downloads?

[2022-03-24 03:37] adnankussair commented on #27
Ah. Well that sure isn't right. We'll get that sorted. Best way this one will work is single iCal with multiple events.

[2022-03-24 03:44] davidatkinswwt commented on #27
Thanks!

[2022-03-28 12:01] mmai1554 opened #29 "Issue with displaying multi date"
Thank you for the plugin!

Maybe I'm missing something but at the moment I'm not able to display an Event with multi days in a way it displays the multi date. So given the Entry (collection = Veranstaltungen):

[code]
And this test template:
[code]
outputs:
Collection Events:between

-         March 28th, 2022
-         March 28th, 2022
-         March 28th, 2022

The expected behaviour should be

[2022-04-02 03:20] adnankussair opened #30 "Multi Day Event & Wrong Date Appended"
- [x] Getting Wrong Date appended to end of URL:

<img width="544" alt="Screen Shot 2022-04-01 at 8 16 42 PM" src="https://user-images.githubusercontent.com/239259/161363859-6ad9fb68-ca65-4e77-80e5-304d349c5b60.png">

Has a url of `/events/1st-night-of-taraweeh?date=2022-03-15` note event is for 2022-04-01

- [x] Multi-Day Event Breaks Events 2 Block, possible multi-day bug:

<img width="1285" alt

[2022-04-02 05:01] edalzell commented on #30
Some recent parser changes broke `event_snippet` partial.

And the `date` was wrong in the calendar, don't know why. Used `scope` to work around the issue, though it may be a bug in the Events addon.

@adnankussair should look at this next week to fix it properly.

[2022-04-02 17:54] edalzell commented on #29
Confirmed, will look at next week.

[2022-04-02 17:56] edalzell commented on #30
Closing in favour of https://github.com/transformstudios/statamic-events-v3/issues/29

[2022-04-02 17:56] #30 closed, assigned to edalzell

[2022-04-07 15:25] davidatkinswwt commented on #27
Hey just checking to see if this is being looked at? Bought the add-on several weeks ago now and the project that is using it definitely needs it. Thanks!

[2022-04-07 15:28] adnankussair commented on #27
Hey David. We plan to get the events addon sorted out this month. We're in the middle of a refactor of it. Hopefully that timeline works for your project?

[2022-04-14 03:59] edalzell commented on #16
What would this look like @austriker27 can you give an example of how you'd like to use it (Antlers example please)

[2022-04-14 04:01] edalzell commented on #3
Closing in favour of #22

[2022-04-14 04:01] #3 closed, assigned to edalzell

[2022-04-14 04:02] edalzell commented on #2
nope.

[2022-04-14 04:02] #2 closed, assigned to nobody

[2022-04-14 04:05] edalzell commented on #27
Note to self, this likely means 2 tags, `events:downloadEvent` and `event:downloadOccurrence`

[2022-04-14 04:06] edalzell commented on #10
I don't understand what we'd provide here, can you give an example @adnankussair?

[2022-04-14 14:32] adnankussair commented on #10
@edalzell Not necessary. Instead for simple we should build out using tailwind UI (calendar blocks). Need to port simple to tailwind first.

[2022-04-14 14:32] #10 closed, assigned to nobody

[2022-04-22 22:15] #1 closed, assigned to edalzell

[2022-04-22 22:15] #21 closed, assigned to nobody

[2022-04-22 22:15] #24 closed, assigned to edalzell

[2022-04-22 22:15] #26 closed, assigned to nobody

[2022-04-22 22:15] #27 closed, assigned to edalzell

[2022-04-22 22:15] #29 closed, assigned to edalzell

[2022-04-22 22:18] edalzell commented on #4
You publish the fieldset.

[2022-04-22 22:29] edalzell commented on #16
Yes, please split into two, with examples of how you'd like to do each of them.

[2022-04-22 22:29] #16 closed, assigned to nobody

[2022-04-22 22:29] edalzell commented on #7
Not sure what there is to config

[2022-04-22 22:30] edalzell commented on #22
Hey folks, I've just released v4.0, please check it out to see if it addresses your issues. Please re-open if it does.

[2022-04-22 22:30] #22 closed, assigned to edalzell

[2022-04-22 22:31] edalzell opened #32 "Add Event filters"
Need to be able to filter events like the `collection` tag

[2022-04-22 22:32] edalzell opened #33 "Add Content API"

[2022-04-22 22:32] edalzell opened #34 "Add GraphQL api"

[2022-05-06 03:45] davidatkinswwt opened #35 "Event Download Links returning error"
Hey back again..😅

I've since updated the package and reviewed the upgrade guide.

When downloading (or attempting to download) the event I receive an error when opening the .ics file.

The same thing happens when the type is switched to google, yahoo, etc.

My event times are in a grid:

[code]

After downloading the ics file is empty.

Wondering if you could shed any light on the situation or if

[2022-05-06 04:04] adnankussair commented on #35
Hey @davidatkinswwt! Welcome back. We'll take a looksie and get back to you shortly. Thanks for reporting.

[2022-05-06 04:19] edalzell commented on #35
You have events in a grid? That's not supported right now, can you please explain your use case?

[2022-05-06 14:32] davidatkinswwt commented on #35
It's left over from Events v3.3.3 when multi-day events were not working as expected.

During v3.3.3 I put single events into a grid which allowed me to save individual calendar events for a multi-day event with different start times. (See above event times grid).

Where if I had something like the following I would get an event that started on Jan 1 @ 6:30pm and end Jan 3 @ 8:00pm. My understandi

[2022-05-06 17:16] edalzell commented on #35
I can't reproduce this @davidatkinswwt, I put that exact data into an event and used this template code:

[code]

Where that id is the id of the multi-day event. It loaded perfectly into my calendar:
<img width="182" alt="CleanShot 2022-05-06 at 10 15 52@2x" src="https://user-images.githubusercontent.com/6069653/167180827-e22574b0-d90d-425a-ae6a-94debaf733f2.png">
<img width="385" alt="CleanShot 2

[2022-05-06 18:01] davidatkinswwt commented on #35
Alright got it working. I think the documentation is incorrect. That being said I also had my handle for 'events' as 'event'...🤷‍♂️

https://statamic.com/addons/transform/events/docs

[code]

Thank you for the assistance.

[2022-05-06 19:05] edalzell commented on #35
Whoops, nice catch, sorry about that. I'll update the docs.

[2022-05-06 19:05] edalzell opened #36 "Download link docs are wrong"
Alright got it working. I think the documentation is incorrect. That being said I also had my handle for 'events' as 'event'...🤷‍♂️

https://statamic.com/addons/transform/events/docs

[code]

Thank you for the assistance.

_Originally posted by @davidatkinswwt in https://github.com/transformstudios/statamic-events/issues/35#issuecomment-1119859162_

[2022-06-10 13:32] davidatkinswwt opened #40 "Generated/Downloadable Files are blank"
Back again...

I'm having issues with the generated/downloadable ICS files (along with all the others).

Rather than try to explain my issues I've setup this you can preview my issue on this Test Site.

- Fresh Events install
- Added Event Fieldset
- Added Event Fieldset to Events Blueprint
- Added Data

Downloaded ICS file is considered invalid.

Any help would be greatly appreciated. Thanks!

ht

[2022-06-10 14:45] adnankussair commented on #40
Hey @davidatkinswwt thanks for reporting. We'll take a looksie and report back.

[2022-06-17 17:21] adnankussair commented on #40
Hey @davidatkinswwt. Sorry we haven't been able to get to this issue. We're hoping to take a look early next week.

[2022-06-22 18:11] edalzell commented on #40
Thanks for the great bug report @davidatkinswwt, looking at this now.

[2022-06-22 19:47] #40 closed, assigned to edalzell

[2022-10-29 14:19] ecksullivan8 commented on #35
Was there a fix to this? the code in the documentation does not work.  I've tried to tweak a bit but no luck.  I also did what Erin did and the event was actually able to be added to calendar (however times were incorrect).

[2022-10-29 14:37] adnankussair commented on #35
@ecksullivan8 Thanks for reaching out about this. We'll take a look at it this week and report back. Looks like we have a stale issue open about updating the docs, so we'll get that closed and check don't he "incorrect" times issue you reported as well. Thanks!

[2022-10-29 14:38] adnankussair opened #45 "Incorrect times for event download .ics"
Was there a fix to this? the code in the documentation does not work.  I've tried to tweak a bit but no luck.  I also did what Erin did and the event was actually able to be added to calendar (however times were incorrect).

_Originally posted by @ecksullivan8 in https://github.com/transformstudios/statamic-events/issues/35#issuecomment-1295850278_

[2022-11-01 18:05] #35 closed, assigned to edalzell

[2022-11-01 18:06] edalzell commented on #45
@ecksullivan8 do you have some examples of this so I can try to figure this out?

[2022-11-01 18:16] #36 closed, assigned to edalzell